* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Georgia', serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.65;
    max-width: 100%;
    overflow-x: hidden;
}

/* Light Theme */
.light-theme {
    background-color: #fafafa;
    color: #333;
}

.light-theme header, .light-theme footer {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.light-theme .post-body p,
.light-theme .bibliography ol {
    color: #333;
}

/* Dark Theme */
.dark-theme {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.dark-theme header, 
.dark-theme footer, 
.dark-theme .bibliography,
.dark-theme header * {
    background-color: #34495e;
    color: #ecf0f1;
}

.dark-theme header {
    filter: invert();
}

.dark-theme .post-body p,
.dark-theme .bibliography ol,
.dark-theme h1,
.dark-theme .post-content h2 {
    color: #ecf0f1;
    border-color: #ecf0f1;
}

.dark-theme .post-body h2,
.dark-theme .post-body h3,
.dark-theme .bibliography h4{
    color: #fff;
}

.dark-theme pre {
    background-color: #34495e;
    color: #ecf0f1;
}

.dark-theme code {
    color: #ddd;
}

header, footer {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

header {
    background-color: transparent;
    background-image: url("background.jpg");
}
header * {
    background-color: #fff;
    width: fit-content;
    padding: 1rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #2c3e50;
}

.subtitle {
    font-size: 1.2rem;
    color: #5a7071;
    margin-top: 0.5rem;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    text-align: justify;
}

section.intro {
    margin-bottom: 3rem;
}

section.posts {
    margin-top: 3rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #2980b9;
}

article.post {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

article.post h3 {
    font-size: 1.7rem;
    color: #2c3e50;
    margin-bottom: 0.8rem;
}

.post-meta {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin-top: 0.5rem;
}

.post-summary {
    font-size: 1.1rem;
    color: #555;
    margin-top: 1rem;
}

p.quote {
    font-family: 'Courier New', monospace;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
}
mark {
    background-color: rgba(41, 128, 185, 0.15);
    border-radius: 5px;
    padding: 2px 7px;
}
.dark-theme mark {
    color: #ecf0f1;
}

footer p {
    font-size: 1rem;
    color: #5a7071;
}

article.post-content h2 {
    font-size: 3rem;
    text-align: center;
    color: #2c3e50;
    margin-top: 1.2rem;
    margin-bottom: 3.4rem;
    line-height: 4rem;
    width: 140%;
    border-bottom: 1px solid #2c3e50;
    padding-bottom: 1.7rem;
    top: 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

article.post-content h3,
article.post-content h4,
article.post-content h5  {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: #2980b9;
}
article.post-content h4 {
    font-size: 1.4rem;
}
article.post-content h5 {
    font-size: 1.15rem;
}

table {
	border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}
table tr td, table tr th {
	padding: 0.5rem 1rem;
    font-size: 1rem;
}
table th {
	background-color: #2c3e50;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #2c3e50;
}
table td {
	color: #333;
	border: 1px solid #dddfe1;
}
.dark-theme table {
    filter: invert();
}
/* Text special live effect */
    /* Creit: https://codepen.io/alvarotrigo/pen/YzbQKGQ */
    @keyframes glitch { 
        0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
        27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
        28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
        36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
        37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
        38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; filter: blur(0);}
        42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; filter: blur(0);}
        43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
        48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0.5px);}
        56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
        57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
        58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; filter: blur(0);}
        62% { text-shadow: 0 0 0 red, 0 0 0 lime; filter: blur(0);}
        63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
        64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
        65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
        66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0.5px);}
        67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
        68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; filter: blur(0);}
        72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; filter: blur(0);}
        73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
        77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
        81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
        83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
        86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
        87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
        88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
        91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; filter: blur(0);}
        92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; filter: blur(0);}
        92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
        96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
        100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);} }
.live-effect {
    animation: glitch 3s steps(100) infinite;
    letter-spacing: 3px;
    font-size: 1.4rem;
    font-weight: bold;
}
/* */

ul, ol {
    font-size: 1.2rem;
    text-indent: 2rem;
    list-style-position: inside;
}
ul {
    list-style: square;
    list-style-position: inside;
}

.post-body p {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 0.8rem;
}

.bibliography {
    margin-top: 2rem;
    font-size: 1.1rem;
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 5px;
}

.bibliography h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

.bibliography ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: 0;
}

.bibliography li {
    margin-bottom: 0.6rem;
}

a {
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    color: #3498db;
}

footer {
    margin-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

/* Centered image */
.centered {
    text-align: center;
    margin: 2rem 0;
}

.centered img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
}
.dark-theme .centered img.invertible {
    filter: invert();
}

/* MathJax formula styling */
.math-formula {
    text-align: center;
    color: #2c3e50;
    margin: 1.3rem 0 1.5rem 0;
    transform: scale(150%);
}

.math-formula span.other-text {
    font-size: 0.7rem;
}


/* Code snippet styling */
pre {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 1.2rem;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 2rem;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    white-space: pre-wrap;
}

/* Theme toggle button */
.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}
.theme-toggle span {
    filter: grayscale();
}

.theme-toggle:hover {
    background-color: #3f556b;
}
